<div class="container__signup">
    <div (click)="hiddeModal()" class="bg__opacity"></div>
    <div class="card__signup" [ngClass]="{'active': active}">
        <div class="container__left" [ngClass]="{'active': active}">
            <div *ngIf="active" class="bg__back" (click)="continue()"></div>
            <div [ngClass]="{'active': active}" class="card__title">Agent Account Details</div>
            <h2 class="title--information" [ngClass]="{'active': active}">User Information</h2>
            <div class="container__inputs">
                <form #myFormAccount="ngForm" (ngSubmit)="continueForm(myFormAccount)">
                    <div class="container__inputs">
                        <div class="account__input">
                            <input name="AgentName" type="text" placeholder="AgentName* (8 max characters)" [(ngModel)]="accountData.AgentName"
                                class="field__input" maxlength="8" required>
                            <div class="warning"
                                *ngIf="myFormAccount.controls['AgentName'].invalid && (myFormAccount.controls['AgentName'].dirty || myFormAccount.controls['AgentName'].touched)">
                                Username is required.
                            </div>
                        </div>

                        <div class="account__input">
                            <input name="PasswordSignUp" type="password" placeholder="Password* (10 max characters)"
                                [(ngModel)]="accountData.PasswordSignUp" class="field__input" maxlength="10" required>
                            <div class="warning"
                                *ngIf="myFormAccount.controls['PasswordSignUp'].invalid && (myFormAccount.controls['PasswordSignUp'].dirty || myFormAccount.controls['PasswordSignUp'].touched)">
                                Password is required.
                            </div>
                        </div>

                        <div class="account__input">
                            <input name="password2" type="password" placeholder="Confirm Password*"
                                [(ngModel)]="confirmPassword" class="field__input" required>
                            <div class="warning"
                                *ngIf="confirmPassword !== accountData.PasswordSignUp && (myFormAccount.controls['password2'].dirty || myFormAccount.controls['password2'].touched)">
                                Passwords do not match.
                            </div>
                        </div>

                        <div class="account__input">
                            <input name="EmailSignUp" type="EmailSignUp" placeholder="Email*" [(ngModel)]="accountData.EmailSignUp"
                                class="field__input" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                            <div class="warning"
                                *ngIf="myFormAccount.controls['EmailSignUp'].invalid && (myFormAccount.controls['EmailSignUp'].dirty || myFormAccount.controls['EmailSignUp'].touched)">
                                Please enter a valid email.
                            </div>
                        </div>

                        <div class="account__input">
                            <input name="Phone" type="text" placeholder="Phone" [(ngModel)]="accountData.PhoneSignUp"
                                class="field__input" (input)="onInputChange($event)">
                            <div class="warning">
                                * This field is for validation purposes and should be left unchanged.
                            </div>
                        </div>

                        <div class="account__input">
                            <input name="AnotherRequest" placeholder="Any other initial request"
                                [(ngModel)]="accountData.AnotherRequest" class="field__input">
                        </div>

                        <p class="important"> *If you do not receive the confirmation message within a few minutes of
                            signing up, please check your SPAM folder. </p>

                        <div class="container__btn container__btn--continue" [ngClass]="{'active': active}">
                            <ng-container>
                                <button class="btn__submit" [ngClass]="{'disabled': myFormAccount.invalid}">Continue</button>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg__left" [ngClass]="{'active': active}">
            <img src="../../assets/img/bg_pricing.jpeg" alt="pricing banner">
            <div *ngIf="active" class="go__back" (click)="continue();">Go back</div>
        </div>
        <div class="container__right" [ngClass]="{'active': active}">
            <h2 class="title--config" [ngClass]="{'active': active}">User Config</h2>
            <div class="container__inputs">
                <form #myFormConfig="ngForm" (ngSubmit)="submitForm(myFormConfig)">
                    <div class="container__inputs">
                        <div class="account__input">
                            <label class="field__label" for="Parlays">Parlays</label>
                            <select name="Parlays" class="field__input" id="Parlays" aria-invalid="false" [(ngModel)]="configData.Parlays">
                                <option value="Default">Default</option>
                                <option value="2 Team Max">2 Team Max</option>
                                <option value="3 Team Max">3 Team Max</option>
                                <option value="4 Team Max">4 Team Max</option>
                                <option value="5 Team Max">5 Team Max</option>
                                <option value="6 Team Max">6 Team Max</option>
                                <option value="7 Team Max">7 Team Max</option>
                                <option value="8 Team Max">8 Team Max</option>
                            </select>
                        </div>

                        <div class="account__input">
                            <label class="field__label" for="Teasers">Teasers</label>
                            <select class="field__input" name="Teasers" id="Teasers" aria-invalid="false" [(ngModel)]="configData.Teasers">
                                <option value="Default">Default</option>
                                <option value="2 Team Max">2 Team Max</option>
                                <option value="3 Team Max">3 Team Max</option>
                                <option value="4 Team Max">4 Team Max</option>
                                <option value="5 Team Max">5 Team Max</option>
                                <option value="6 Team Max">6 Team Max</option>
                                <option value="7 Team Max">7 Team Max</option>
                                <option value="8 Team Max">8 Team Max</option>
                            </select>
                        </div>

                        <div class="account__input">
                            <label class="field__label" for="AccountsNedded">Total # Accounts Needed</label>
                            <select name="AccountsNedded" id="AccountsNedded" class="field__input" aria-invalid="false" [(ngModel)]="configData.AccountsNedded">
                                <option value="Create Manually">Create Manually</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50+">50+</option>
                                <option value="More">More</option>
                            </select>
                        </div>

                        <div class="account__input">
                            <label class="field__label" for="CarryOver">Carry over player balance*</label>
                            <select name="CarryOver" id="CarryOver" class="field__input" aria-invalid="false" [(ngModel)]="configData.CarryOver">
                                <option value="" disabled selected>- Choose One -</option>
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                            <div class="warning">Please select one </div>
                        </div>

                        <div class="account__input">
                            <label class="field__label" for="Support">Support*</label>
                            <select name="Support" id="Support" class="field__input" aria-invalid="false" [(ngModel)]="configData.Support">
                                <option value="" disabled selected>- Choose One -</option>
                                <option value="All">All</option>
                                <option value="By Email">By Email</option>
                                <option value="LiveChat">LiveChat</option>
                                <option value="By Phone">By Phone</option>
                                <option value="Internal Message System">Internal Message System</option>
                            </select>
                            <div class="warning">Please select one </div>
                        </div>

                        <div class="account__input">
                            <label class="field__label" for="PlayerWebsite">Choose your player's website</label>
                            <select name="PlayerWebsite" class="field__input" aria-invalid="false" [(ngModel)]="configData.PlayerWebsite">
                                <option value="ibet.ag">ibet.ag</option>
                                <option value="betwolf.ag">betwolf.ag</option>
                                <option value="justwager.ag">justwager.ag</option>
                                <option value="Riskandwin.net">Riskandwin.net</option>
                                <option value="probet.ag">probet.ag</option>
                                <option value="dog15.com">dog15.com</option>
                                <option value="igg.ag">igg.ag</option>
                                <option value="betnyc888.com">betnyc888.com</option>
                                <option value="wageraccess.ag">wageraccess.ag</option>
                                <option value="betboss.ag">betboss.ag</option>
                                <option value="any2sports.com">any2sports.com</option>
                                <option value="betfun.net">betfun.net</option>
                                <option value="ckaction.com">ckaction.com</option>
                                <option value="deluxewager.com">deluxewager.com</option>
                                <option value="lines777.com">lines777.com</option>
                                <option value="playtexan.com">playtexan.com</option>
                                <option value="fatlopes.com">fatlopes.com</option>
                                <option value="winnerscircle.ag">winnerscircle.ag</option>
                                <option value="livelines247.com">livelines247.com</option>
                                <option value="jbet.mx">jbet.mx</option>
                                <option value="realbettors.com">realbettors.com</option>
                            </select>
                        </div>
                        <ng-container *ngIf="configData.CarryOver != '' && configData.Support != ''">
                            <button type="submit" class="btn__submit"
                            [ngClass]="{'disabled': myFormAccount.invalid}">Create Account</button>
                        </ng-container>
                        <ng-container *ngIf="configData.CarryOver == '' || configData.Support == '' ">
                        <a class="btn__submit disabled">Create Account</a>
                        </ng-container>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>