<div class="page">
    <img src="../../assets/img/bg_pricing.jpeg" alt="pricing banner">
    <div>
        <h2 class="banner-title">ONLY {{InformationPrice}} PER HEAD PER ACTIVE PLAYER</h2>
        <!-- <p class="banner-subtitle">One Price, No Surprises.</p> -->
        <h2 class="banner-Price">{{InformationPrice}}</h2>
        <p class="banner-text">That’s right, {{InformationPrice}} per active player!</p>
        <p class="banner-text">Get started with your free trial TODAY! No minimum amount players! Call for more info!</p>
    </div>
</div>


<app-services></app-services>

