header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-text-color);
  padding: 1rem;
  position: fixed;
  height: 80px;
  z-index: 10;
  width: 100%;
  /* background: var(--dark-bg-color) */
  /* backdrop-filter: blur(10px); */
}

.transparent-header {
  background-color: transparent;
}

.opaque-header {
  background-color: black;
}

.more-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-text-color);
  padding: 1rem;
  position: fixed;
  top: 60px;
  z-index: 9;
  width: 100%;
  gap: 1rem;
  background: var(--dark-bg-color);
  transform: translateY(0%);
  transition: transform 0.7s;


}

.closed-more {
  transform: translateY(-200%);
}

.header-desktop {
  display: none;
}

.page {
  padding-top: 80px;
}

.left-header,
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  font-size: 14px;
}

.left-header a,
.right-header a {
  color: var(--dark-text-color);
  text-decoration: none;
}

.left-header a,
.right-header a {
  color: var(--dark-text-color);
  text-decoration: none;
}

.right-header {
  justify-content: end;
}

.left-header a:nth-child(even).active {
  color: var(--primary-color);
}

.left-header a:nth-child(odd).active {
  color: var(--secondary-color);
}

.right-header a:nth-child(even).active {
  color: var(--primary-color);
}

.right-header a:nth-child(odd).active {
  color: var(--secondary-color);
}

.left-header a:nth-child(even):hover {
  border-bottom: 1px solid var(--primary-color);
}

.left-header a:nth-child(odd):hover {
  border-bottom: 1px solid var(--secondary-color);
}

.right-header a:nth-child(even):hover {
  border-bottom: 1px solid var(--primary-color);
}

.right-header a:nth-child(odd):hover {
  border-bottom: 1px solid var(--secondary-color);

}

.center-header a {
  color: var(--dark-text-color);
  font-family: Bebas Neue;
  font-size: 30px;
  text-decoration: none;

}

.center-header img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


/* -----------------  Start SideBar Mobile ------------------- */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #000000;
  padding-top: 80px;
  transition: width 0.3s;
  z-index: 9;
  /* Agrega una transición para animar el cambio de ancho */
}

.closed {
  width: 0;
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Color semitransparente de fondo */
  z-index: 2;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 8px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 1rem 1rem 1rem 0;
}

.sidebar a:nth-child(even).active {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color)
}

.sidebar a:nth-child(odd).active {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color)
}

/*
button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
} */

/* sidebar.component.css */
.overlay.visible {
  display: block;
}


.header-mobile {
  padding: 1rem 2rem;
  height: 60px;
  transition: background-color 0.5s ease;

}

.center-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-header,
.right-header {
  width: auto;
}

@media screen and (min-width: 1024px) {

  .left-header,
  .right-header {
    width: 100%;
  }

  .center-header {
    flex: auto;
    display: initial;
  }

  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
  }
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-bottom: 1rem;
  height: 100%;
  overflow-y: auto;
}

/* -----------------  End SideBar Mobile ------------------- */

.btn__signUp {
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  background: var(--secondary-color);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__signUp:hover {
  background: var(--secondary-color-dark);
}

/* start sub-menu sub-menu-items */
.item-menu {
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-menu:hover{
  border-bottom: 1px solid var(--primary-color) !important;
}

.ul-sub-menu-desktop {
  position: absolute;
  background-color: var(--primary-color-sub-menu-item);
  color: var(--light-text-color);
  width: 312px;
  max-height: 450px;
  overflow-y: auto;
}

.li-sub-menu-desktop {
  border-bottom: 1px solid var(--light-text-color);
  padding: 15px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.li-sub-menu-desktop:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.ul-sub-menu-mobile {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
  color: var(--light-text-color);
  max-height: 550px;
  overflow-y: auto;
}

.li-sub-menu-mobile {
  text-align: left !important;
  font-size: 14px;
  padding-left: 5px;
  font-weight: 300;
}

.active-path-menu {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.svg-item-menu path {
  fill: var(--light-text-color);
}

/* end sub-menu sub-menu-items */
