<header>
    <div class="left-header">
        <div class="left-header">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a routerLink="/demos" routerLinkActive="active">Demos</a>
            <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
            <a href="#">Payment Methods</a>
            <a href="#">PPH Software Reseller</a>
            <a href="#">Epos</a>
        </div>
    </div>

    <div class="center-header">
        <a href="#">Payperhead.net</a>
    </div>

    <div class="right-header">
        <div class="right-header">
            <a href="#">Features</a>
            <a href="#">Fees Paid</a>
            <a href="#">Blogs</a>
            <a href="#">Sites Avaliables</a>
            <a href="#">Player Login</a>
            <a href="#">Agents Login</a>
        </div>
    </div>
</header>