<div class="page-services">
        <div class="circle-gradient"></div>
        <div class="circle-gradient-2"></div>

        <div class="container-caracteristicas">
                <div>
                        <h2 class="page-title" style="margin: 0;">OUR FEATURES</h2>
                </div>
                <div class="container-card-carousel">
                        <div class="card img-carousel">
                                <img src="../../../assets/img/img-carousel.png" alt="">
                        </div>
                        <div class="card-carousel card">
                                <div class="carousel-content">
                                        <div class="menu--item">Fast Grading</div>
                                        <div class="menu--item">+$1 Mildivon Infraestructure</div>
                                        <div class="menu--item">Full Security for DDoS Attacks</div>
                                        <div class="menu--item">Servers OffShore (Not in USA)</div>
                                        <div class="menu--item">Internal Private Messaging System (Player-Agent-Office)
                                                (Skip 3rd party emaidivng)</div>
                                        <div class="menu--item">Sports Betting Internet Players
                                                (Desktop/Mobile)</div>
                                        <div class="menu--item">Full Sportsbook Set Up</div>
                                        <div class="menu--item">Full Customizable Profile divmits by
                                                Agent/Player</div>
                                        <div class="menu--item">Manage Max Money divnes</div>
                                        <div class="menu--item">SMS & Email Bet Notifications</div>
                                        <div class="menu--item">Detailed Sales Reports</div>
                                        <div class="menu--item">Free Plays Management divmits (Quantity & Amount by
                                                SubAgents)</div>
                                        <div class="menu--item">Squares Management (Create/Update/Delete Squares by
                                                League/Sport)</div>
                                        <div class="menu--item">Complete Reporting About Same IP's Players or Possible
                                                Bots</div>
                                        <div class="menu--item">EPOS (Printed Sports Betting Tickets)</div>
                                        <div class="menu--item">Auto-Mover according to the feed the Best Sportsbooks
                                                Feed</div>
                                        <div class="menu--item">Auto-Check Scores in Main Sports</div>
                                        <div class="menu--item">Move divnes Tool</div>
                                        <div class="menu--item">Services Management By Agent/Player</div>
                                        <div class="menu--item">Complete Control Over your Hierarchy
                                                (Create/Update/Delete Any SubAgent/Player)</div>
                                        <div class="menu--item">Non-Stoppable 24/7/365 Wagering Call Center TOTALLY
                                                FREE</div>
                                        <div class="menu--item">Non-Stoppable 24/7/365 Phone Support for Agents &
                                                Players TOTALLY FREE</div>
                                        <div class="menu--item">Minute by minute steam & injury reports</div>
                                        <div class="menu--item">Development Customizable Reports/Tools specific for
                                                you</div>
                                </div>
                        </div>
                </div>
        </div>
</div>