
<div class="container__feature">

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <h2 class="title-feature">PPH SOFTWARE FOR BOOKIES</h2>
      <hr class="hr-feature">
    </div>
  </div>

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <img src="assets/img/5-dolars-price-.png" alt="img-five-dolars">
    </div>
  </div>

  <div class="container-details-feature">
    <strong>7PPH is the best Bookie Pay Per Head Service in the industry that provides comprehensive Pay Per Head Bookie Solutions for only $5 per week per player.</strong>
  </div>

  <div class="container-details-feature">
    <strong>PPH Software for Bookies, Live Betting, Poker, Live Casino Games, eSports and Horse racing. With 1-Week, No-Risk Free Trial there’s no better time to sign up.</strong>
  </div>

  <div class="container-details-feature">
    <a class="tel-feature">+1-855 296-9171</a>
  </div>

  <div class="container-details-feature">
    <button (click)="openModal()" class="btn-click-here-feature">CLICK HERE TO SIGN UP</button>
  </div>

</div>
