<div class="container__features">

  <h2 class="page-title features-title">PPH SOFTWARE FOR BOOKIES</h2>
  <div class="container-hr-features">
    <hr class="hr-features">
  </div>

  <div class="margin-details-feature">
    <h2 class="banner-Price">{{InformationPrice}}</h2>
  </div>

  <p>7PPH is the best Bookie Pay Per Head Service in the industry that provides comprehensive Pay Per Head Bookie
    Solutions for only $5 per week per player.</p>

  <div class="margin-details-feature">
    <p>PPH Software for Bookies, Live Betting, Poker, Live Casino Games, eSports and Horse racing. With 1-Week, No-Risk
      Free Trial there’s no better time to sign up.</p>
  </div>

  <br>

  <div class="margin-details-feature">
    <a class="tel-features">+1-855 296-9171</a>
  </div>

  <div class="margin-details-feature">
    <button (click)="openModal()" class="btn-click-here-features">CLICK HERE TO SIGN UP</button>
  </div>

</div>
