<div class="fees-paid">

  <img src="../../assets/img/fees-paid-img.jpg" alt="fees-paid banner">

  <div class="container__global" style="z-index: 1;">

    <h2 class="page-title text-center">PAY PER HEAD SOFTWARE</h2>

    <div class="container-hr-border-titles">
      <hr class="hr-border-titles">
    </div>

    <div class="margin-top-2">
      <h3 class="fees-paid-sub-title">We reimburse all sending fees!</h3>
    </div>

    <div class="margin-top-1">
      <p> We do this with ALL deposits! All sending methods apply!</p>
    </div>

    <div class="margin-top-1">
      <p>We reimburse and credit back to your balance all sending fees.</p>
    </div>

    <div class="margin-top-1">
      <p>If your cost of sending money is $10 using a specific method then we will credit it to your office balance!</p>
    </div>

    <div class="margin-top-2">
      <a class="tel-features ">+1-855 296-9171</a>
    </div>

    <div class="margin-top-1">
      <button (click)="openModal()" class="btn-click-here ">CLICK HERE TO SIGN UP</button>
    </div>

  </div>

</div>
