<div class="fees-paid">

  <img src="../../assets/img/fees-paid-img.jpg" alt="fees-paid banner">

  <div class="container__global" style="z-index: 1;">

    <h2 class="page-title text-center"> {{InformationResp[0]?.Value}} </h2>

    <div class="container-hr-border-titles">
      <hr class="hr-border-titles">
    </div>

    <div class="margin-top-2">
      <h3 class="fees-paid-sub-title"> {{InformationResp[1]?.Value}} </h3>
    </div>

    <div class="margin-top-1">
      <p>{{InformationResp[2]?.Value}}</p>
    </div>

    <div class="margin-top-1">
      <p>{{InformationResp[3]?.Value}}</p>
    </div>

    <div class="margin-top-1">
      <p>{{InformationResp[4]?.Value}}</p>
    </div>

    <div class="margin-top-2">
      <a class="tel-features "> {{phoneNumber}} </a>
    </div>

    <div class="margin-top-1">
      <button (click)="openModal()" class="btn-click-here ">CLICK HERE TO SIGN UP</button>
    </div>

  </div>

</div>
