<div class="fees-paid">

  <img src="../../assets/img/fees-paid-img.jpg" alt="fees-paid banner">

  <div class="container-fees-paid">

    <h2 class="page-title fees-paid-title">PAY PER HEAD SOFTWARE</h2>
    <div class="container-hr-border-titles">
      <hr class="hr-border-titles">
    </div>

    <br>
    <br>

    <div class="margin-details-fees-paid">
      <h3 class="fees-paid-sub-title">We reimburse all sending fees!</h3>
    </div>

    <div class="margin-details-fees-paid">
      <p> We do this with ALL deposits! All sending methods apply!</p>
    </div>

    <div class="margin-details-fees-paid">
      <p>We reimburse and credit back to your balance all sending fees.</p>
    </div>

    <div class="margin-details-fees-paid">
      <p>If your cost of sending money is $10 using a specific method then we will credit it to your office balance!</p>
    </div>

    <br>

    <div class="margin-details-fees-paid">
      <a class="tel-features ">+1-855 296-9171</a>
    </div>

    <br>

    <div>
      <button (click)="openModal()" class="btn-click-here ">CLICK HERE TO SIGN UP</button>
    </div>

  </div>

</div>
