<div class="container__feature">

  <div class="container-details-feature text-left-feature">
    <h3 class="title-feature">Software For Sportsbooks</h3>
    <h4>We are a premium provider of powerful yet affordable sportsbook software for online sports betting and casino
      websites since 2003. Industry leaders of Software providers for Sportsbooks, Bookies and Online Casinos. Sign Up
      Now and Learn How you can provide your customers with the best <a routerLink="/"><strong>PPH Software</strong></a> in
      the market.</h4>
  </div>

  <br>

  <div class="container-details-feature">
    <h2 class="title-feature">PPH Software For Bookies</h2>
  </div>
  <div class="text-left-feature">
    <h4>
      We offer the next generation top-of-the-line sports betting software that uses the latest advancements and
      encryption technology to give you piece of mind about running your own online sportsbook. If you are looking for
      Sportsbook Sports Betting Software, you’ve come to the right place!
    </h4>
  </div>

  <div class="container-details-feature text-left-feature">
    <h3 class="title-feature">Frequently Asked Questions</h3>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>How long have you been in business?</strong>
    <p>We have been operating in Costa Rica since 2003, but our staff consists of many sports betting professionals with
      over 27 years of experience in the sports industry.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>Is my data safe?</strong>
    <p>We keep all information pertaining to agents and their players in the strictest of confidence. That information
      is accessed only by our supervisory and management staff. The customer, on the other hand, is solely responsible
      for password confidentiality. BossAction.com is not responsible for password usage by any person other than the
      customer to whom the password was originally issued.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>What Sports can my player bet on?</strong>
    <p>We can set up your clients to have the ability to wager on any/all events we cover, including American football,
      basketball, baseball, hockey, automobile racing, horse racing, golf, tennis and soccer, politics, entertainment,
      propositions.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>Sportsbook Software</strong>
    <p>Start taking bets today with our Pay Per Head Sportsbook Solution, as we are the best sports betting software
      and
      platform provider in the industry! We offer the next level of essential tools for bookies who want to expand their
      businesses. Follow our tips to discover the right platform for your venture.</p>
  </div>

</div>
