<div class="container-home">

    <div class="video__container">
        <video id="bg-video" class="bg__video" loop muted autoplay playsinline>
            <source src="./../../assets/videos/PromotionVideo.mp4" type="video/mp4">
        </video>
    </div>

    <div class="blur-container right-blur">
        <div class="container-rigt-info">

            <div class="links-right-info">
                <div class="gradient-border">
                    <a href="#">Agent Demo</a>
                </div>
                <div class="gradient-border">
                    <a href="#">Player Demo</a>
                </div>
                <div class="gradient-border">
                    <a href="#">EPOS Demo</a>
                </div>
            </div>
        </div>
    </div>


    <app-account-Details></app-account-Details>

</div>