<div class="container-home">
    <div class="page-cards card--desktop">
        <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-container *ngFor="let slide of banners">
                <ng-template carouselSlide *ngIf="slide.desktop">
                    <div class="card">
                        <img [src]="slide.url" alt="">
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <!-- 
        <div class="container-nav-cards">
            <a class="btn btn-success circular-btn" (click)="owlCar.prev()"><i class="fas fa-chevron-left"></i></a>
            <a class="btn btn-success circular-btn" (click)="owlCar.next()"><i class="fas fa-chevron-right"></i></a>
        </div> -->
    </div>

    <div class="page-cards card--mobile">
        <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-container *ngFor="let slide of banners">
                <ng-template carouselSlide *ngIf="!slide.desktop">
                    <div class="card">
                        <img [src]="slide.url" alt="">
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <!-- 
        <div class="container-nav-cards">
            <a class="btn btn-success circular-btn" (click)="owlCar.prev()"><i class="fas fa-chevron-left"></i></a>
            <a class="btn btn-success circular-btn" (click)="owlCar.next()"><i class="fas fa-chevron-right"></i></a>
        </div> -->
    </div>

    <div class="blur-container right-blur container__demo">
        <h2 class="page__title">Try our services</h2>
        <div class="containerDemos__links">

            <form action="https://agents.redfigures.ag/Default.aspx" method="post" target="_blank">
                <input id="Username" class="myinput" name="Account" readonly="readonly" type="hidden" value="uagent">
                <input id="Password" class="myinput" name="Password" readonly="readonly" type="hidden" value="test123">
                <div class="gradient-border btn__demo btn__demo--agent">
                    <input name="LOGIN" type="submit" value="Agent Demo">
                </div>
            </form>

            <form class="ibet__desktop" action="https://wager.ibet.ag/Login.aspx" method="post" target="_blank"><input name="IdBook"
                    type="hidden" value="">
                <input id="Username" class="myinput" name="Account" readonly="readonly" type="hidden" value="ug1">
                <input id="Password" class="myinput" name="Password" readonly="readonly" type="hidden" value="123">
                <div class="gradient-border btn__demo btn__demo--player">
                    <input name="LOGIN" type="submit" value="Player Demo">
                </div>
            </form>

            <form class="ibet__mobile" action="https://mobile.ibet.ag/Login.aspx" method="post" target="_blank"><input name="IdBook"
                    type="hidden" value="">
                <input id="Username" class="myinput" name="Account" readonly="readonly" type="hidden" value="ug1">
                <input id="Password" class="myinput" name="Password" readonly="readonly" type="hidden" value="123">
                <div class="gradient-border btn__demo btn__demo--player">
                    <input name="LOGIN" type="submit" value="Player Demo">
                </div>
            </form>

            <div class="gradient-border btn__demo btn__demo--live">
                <a href="https://vegaslive.bet/liv/livebetting?piden={{encryptPlayer}}" target="_blank">Live Demo</a>
            </div>


            <form action="https://epos.ibet.ag/Login.aspx" method="post" target="_blank"><input name="IdBook"
                    type="hidden" value="">
                <input id="Username" class="myinput" name="Account" readonly="readonly" type="hidden" value="ug1">
                <input id="Password" class="myinput" name="Password" readonly="readonly" type="hidden" value="123">
                <div class="gradient-border btn__demo btn__demo--epos">
                    <input name="LOGIN" type="submit" value="Epos Demo">
                </div>
            </form>
        </div>
    </div>


    <app-account-Details></app-account-Details>

</div>