<div class="container__feature">

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <h2 class="title-feature">PAY PER HEAD SOFTWARE</h2>
      <hr class="hr-feature">
    </div>
  </div>

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <img src="assets/img/5-dolars-price-.png" alt="img-five-dolars">
    </div>
  </div>

  <div class="container-details-feature">
    <strong>One Risk-Free Pay Per Head Trial. Get the industry-leading pay per
      head software. It’s never been easier to manage an online PPH Sportsbook, Poker & Casino; Sign Up Today!</strong>
  </div>

  <div class="container-details-feature">
    <strong>Successful bookies must be able to provide a
      reliable service over multiple platforms, our service is fast, secure and easy to use. In addition, they have to
      be
      able to provide their clients with competitive odds on all major sporting events around the world, live betting,
      horse racing and even a digital and live dealer casino</strong>
  </div>

  <div class="container-details-feature">
    <a class="tel-feature">+1-855 296-9171</a>
  </div>

  <div class="container-details-feature">
    <button (click)="openModal()" class="btn-click-here-feature">CLICK HERE TO SIGN UP</button>
  </div>

</div>
