<div class="container__global">

  <h2 class="page-title text-center"> {{InformationResp[0]?.Value}} </h2>

  <div class="container-hr-border-titles">
    <hr class="hr-border-titles">
  </div>

  <div class="margin-top-1">
    <h2 class="banner-Price">{{InformationPrice}}</h2>
  </div>

  <p>{{InformationResp[1]?.Value}}</p>

  <div class="margin-top-1">
    <p>{{InformationResp[2]?.Value}}</p>
  </div>

  <div class="margin-top-2">
    <a class="tel-features "> {{phoneNumber}} </a>
  </div>

  <div class="margin-top-1">
    <button (click)="openModal()" class="btn-click-here ">CLICK HERE TO SIGN UP</button>
  </div>

</div>
