<div class="container__features">

  <h2 class="page-title features-title">BEST PAY PER HEAD SOFTWARE</h2>
  <div class="container-hr-features">
    <hr class="hr-features">
  </div>

  <div class="margin-details-feature">
    <h2 class="banner-Price">{{InformationPrice}}</h2>
  </div>

  <p>FREE Trial Pay Per Head Software. Get industry-leading pay per head software for bookies. It’s never been
    easier to manage an online PPH Sportsbook & Casino at no cost; Sign Up Now!</p>

  <div class="margin-details-feature">
    <p>7PPH Is one of the leaders in the PPH Sportsbook Online Bookie Software Provider industry with some Amazing
      Features. Come Join Us and Find Out All The Benefits of Using A Pay Per Head with more than 15+ years of
      experience.</p>
  </div>

  <br>

  <div class="margin-details-feature">
    <a class="tel-features">+1-855 296-9171</a>
  </div>

  <div class="margin-details-feature">
    <button (click)="openModal()" class="btn-click-here-features">CLICK HERE TO SIGN UP</button>
  </div>

</div>
