<div class="container__feature">

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <h2 class="title-feature">BEST PAY PER HEAD SOFTWARE</h2>
      <hr class="hr-feature">
    </div>
  </div>

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <img src="assets/img/5-dolars-price-.png" alt="img-five-dolars">
    </div>
  </div>

  <div class="container-details-feature">
    <strong>FREE Trial Pay Per Head Software. Get industry-leading pay per head software for bookies. It’s never been
      easier to manage an online PPH Sportsbook & Casino at no cost; Sign Up Now!</strong>
  </div>

  <div class="container-details-feature">
    <strong>7PPH Is one of the leaders in the PPH Sportsbook Online Bookie Software Provider industry with some Amazing
      Features. Come Join Us and Find Out All The Benefits of Using A Pay Per Head with more than 15+ years of
      experience.</strong>
  </div>

  <div class="container-details-feature">
    <a class="tel-feature">+1-855 296-9171</a>
  </div>

  <div class="container-details-feature">
    <button (click)="openModal()" class="btn-click-here-feature">CLICK HERE TO SIGN UP</button>
  </div>

</div>
