<div class="container__software">
  <h2 class="page-title text-center">{{title}}</h2>

  <p> {{description}} </p>

  <div class="page-cards card--desktop">
    <owl-carousel-o [options]="customOptions" #owlCar>
      <ng-container *ngFor="let slide of softwares">
        <ng-template carouselSlide>
          <div class="card">
            <img class="software__img" [src]="slide.url" alt="">
            <p class="software__name">{{slide.name}}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <!--
            <div class="container-nav-cards">
                <a class="btn btn-success circular-btn" (click)="owlCar.prev()"><i class="fas fa-chevron-left"></i></a>
                <a class="btn btn-success circular-btn" (click)="owlCar.next()"><i class="fas fa-chevron-right"></i></a>
            </div> -->
  </div>
</div>
