/* ----------------- START PAYMENT ---------------------- */
.page-services {
    overflow: hidden;
    padding: 5rem 0;
}
.container-payment-methods {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container-payment {
    width: 100%;
    background: rgba(68, 68, 68, 0.20);

}

.container-top-payments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top-payments img {
    max-width: 100%;
    padding: 1rem;
    /* height: 60%; */
}

.item-payments,
.item-payments-buttom {
    margin: 0;
    /* background: rgba(68, 68, 68, 0.20); */
    /* backdrop-filter: blur(75px); */
    position: relative;
    flex: 1;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-payments::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 0;
    width: 1px;
    height: 80%;
    background-color: #393939;
    z-index: 0;
    border-radius: 5px;
}

.item-payments-buttom::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    left: 0;
    width: 1px;
    height: 85%;
    background-color: #393939;
    z-index: 0;
    border-radius: 5px;
}

.item-payments::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 12px;
    /* Ajusta según la posición deseada hacia la izquierda */
    width: 96%;
    height: 1px;
    background-color: #393939;
    z-index: 0;
    border-radius: 5px;
}

.item-payments:first-child::before,
.item-payments-buttom:first-child::before {
    content: none;
}

.item-payments span::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -7px;
    right: -7px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: #393939;
}

    .page-payment-desktop{
    display: none;
}

@media screen and (min-width: 1024px) {
    .page-payment-mobile{
        display: none;
    }
    .page-payment-desktop{
        display: flex;
    }
    
}
/* ----------------- END PAYMENT ---------------------- */
