<div class="page-services">
        <div class="circle-gradient"></div>
        <div class="circle-gradient-2"></div>

        <div class="container-caracteristicas">
                <div>
                        <h2 class="page-title" style="margin: 0;">OUR FEATURES</h2>
                </div>
                <div class="container-card-carousel">
                        <div class="card img-carousel">
                                <img src="../../../assets/img/img-carousel.png" alt="">
                        </div>
                        <div class="card-carousel card">
                                <div class="carousel-content">
                                        <ng-container *ngFor="let item of InformationResp">
                                                <div class="menu--item">{{ item.Value }}</div>
                                        </ng-container>
                                </div>

                        </div>
                </div>
        </div>
</div>