.container-sites-avaliables {
  width: 100%;
  padding: 10rem 9rem 5rem 9rem;
  color: var(--dark-text-color);
  text-align: center;
  justify-content: space-between;
  z-index: 1;
  color: var(--dark-text-color);
}

@media only screen and (max-width: 600px) {
  .container-sites-avaliables {
    padding: 5rem 2rem;
  }
}

.container-select {
  width: 100%;
  position: relative;
  display: inline-block;
}

.select {
  display: flex;
  background-color: var(--primary-color-sub-menu-item);
  justify-content: space-between;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-input {
  width: 100%;
  background-color: var(--dark-text-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-input input {
  background-color: #f4f7f9;
  border: solid 0.5px;
  border-radius: 5px !important;
  width: 100%;
  height: 2.5rem;
  color: var(--dark-bg-color);
  padding-left: 15px;
  padding-right: 15px;
}

.options-select {
  position: absolute;
  background-color: var(--dark-text-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  max-height: 20rem;
  overflow-y: auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .options-select {
    max-height: 30rem;
  }
}

.options-select.open {
  display: block;
}

.options-select div {
  padding: 7px 20px 7px 20px;
  cursor: pointer;
}

.options-select div:hover {
  background-color: #f2f2f2;
}

.options-select span {
  padding-left: 20px;
}

.item-options-select {
  color: var(--dark-bg-color);
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.site-selected {
  background-color: #f2f2f2;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
