<div class="container__global">

  <h2 class="page-title title">PAY PER HEAD SOFTWARE</h2>
  <br>
  <p class="text-left-justify">List of sites available (select ones to show the site below)</p>

  <div class="container-select" id="containerSelect">

    <div (click)="toggleDropdown()" class="cursor-pointer select">
      {{ siteSelected }}
      <i *ngIf="showDropdown" class="fa-solid fa-chevron-up"></i>
      <i *ngIf="!showDropdown" class="fa-solid fa-chevron-down"></i>
    </div>

    <div *ngIf="showDropdown" class="container-input">
      <input (input)="filterSites()" [(ngModel)]="searchSite" type="text">
    </div>

    <div class="options-select" [ngClass]="{'open': showDropdown}">
      <div *ngFor="let option of sites" class="item-options-select"
        [ngClass]="{'site-selected': siteSelected === option.name}" (click)="getSite(option)"> {{ option.name }} </div>
    </div>

  </div>

  <div *ngIf="!loader" style="height: 600px">
    <iframe [hidden]="loader" [src]="urlZanitazer" allowfullscreen></iframe>
  </div>

  <div *ngIf="loader" style="padding-top: 5rem;height: 600px">
    <app-loader [showLoader]="loader" [isGlobal]="false"></app-loader>
  </div>

</div>
