<div class="container__feature">

  <h2 class="title-feature">PPH Software for Sportsbooks</h2>

  <p>The Best PPH Software (Pay Per Head) Software Provider, The Industry’s Best <strong>PPH</strong> Service Since
    1997.</p>

  <div class="container-details-feature text-left-feature">
    <p>PPH Sportsbook Online Bookie Software Provider with Amazing Features. Come Join Us & Find Out The Benefits of
      Using A Pay Per Head Solution.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <h3 class="title-feature">Frequently Asked Questions</h3>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>How long have you been in business?</strong>
    <p>We have been operating in Costa Rica since 2003, but our staff consists of many sports betting professionals with
      over 27 years of experience in the sports industry.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>Is my data safe?</strong>
    <p>We keep all information pertaining to agents and their players in the strictest of confidence. That information
      is accessed only by our supervisory and management staff. The customer, on the other hand, is solely responsible
      for password confidentiality. BossAction.com is not responsible for password usage by any person other than the
      customer to whom the password was originally issued.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>What Sports can my player bet on?</strong>
    <p>We can set up your clients to have the ability to wager on any/all events we cover, including American football,
      basketball, baseball, hockey, automobile racing, horse racing, golf, tennis and soccer, politics, entertainment,
      propositions.</p>
  </div>

  <div class="container-details-feature text-left-feature">
    <strong>Sportsbook Software</strong>
    <p>Start taking bets today with our Pay Per Head Sportsbook Solution, as we are the best sports betting software
      and
      platform provider in the industry! We offer the next level of essential tools for bookies who want to expand their
      businesses. Follow our tips to discover the right platform for your venture.</p>
  </div>

  <br><br>

  <div class="container-details-feature">
    <div class="sub-container-details-feature">
      <img src="assets/img/5-dolars-price-.png" alt="img-five-dolars">
    </div>
  </div>

  <div class="container-details-feature">
    <button (click)="openModal()" class="btn-click-here-feature">CLICK HERE TO SIGN UP</button>
  </div>

</div>
