.container-icon-question-features {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.frequently-questions-title-feature {
  font-size: 45px !important;
}

.text-left{
  margin-left: 0px;
  text-align: left;
}
