<div class="container-home">

   
   <div class="container-center">
    <img class="centered-image" src="../../assets/img/monitor-demo.png" alt="home image">
   </div>

   <div class="blur-container right-blur">
    <div class="container-rigt-info">

        <div class="links-right-info">
                <div class="gradient-border">
                    <a href="#">Agent Demo</a>
                </div>
                <div class="gradient-border">
                    <a href="#">Player Demo</a>
                </div>
                <div class="gradient-border">
                    <a href="#">EPOS Demo</a>
                </div>
            </div>
    </div>
</div>


<app-account-Details></app-account-Details>

</div>



