<div class="page-services">
    <div class="circle-gradient"></div>
    <div class="circle-gradient-2"></div>

    <div class="container-services">
        <div>
            <h2 class="page-title">OUR SERVICES</h2>
            <h3 class="page-subtitle">$5 Per Active Player</h3>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <h3>Pro Live Wagering</h3>
                <p>1$ Extra</p>
            </div>
            <div class="grid-item">
                <h3>Two Digital Casinos</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Two Mobile Casinos</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Live Casino</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Boss Casino</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Pro Virtuals</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>BetSlip Version</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Prop Builder</h3>
                <p>1$ Extra</p>
            </div>
            <div class="grid-item">
                <h3>Two Agent Site Versions</h3>
                <p>FREE</p>
            </div>
            <!-- Continue adding other services... -->
            <div class="grid-item">
                <h3>24×7 Live Casino Dealers</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Private POKER Tables</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Rake Customizable</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>State Lottery From 25+ States</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Live UFC Fights</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Live NFL Games</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Live Horses Racing</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Squares</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Popular Bets</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Customizable Cashier</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Private Live Chat Office-Agents 24/7/365</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Full Score Reporting</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Pro In-House Live Wagering</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Virtual Sports/Games: NFL, NBA and Soccer</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item">
                <h3>Full Track Horsebook Around The Globe with the best provider in the market</h3>
                <p>FREE</p>
            </div>
            <div class="grid-item ">
                <h3>Greyhound Racing</h3>
                <p>FREE</p>
            </div>
        </div>
    </div>
</div>