<div class="container-home page-home page">
    <div class="video-container">
        <video id="bg-video" loop muted autoplay>
            <source src="../../assets/videos/bg-video-rb.mp4" type="video/mp4">
        </video>
    </div>
    <div class="blur-container left-blur">
        <div class="container-title">
            <h1>BECOME A SUCCESSFUL</h1>
            <span>BOOKIE</span>
        </div>
    </div>

    <div class="container-center">
        <img src="../../assets/img/img-home.png" alt="home image">
    </div>
    <div class="blur-container right-blur">
        <div class="container-rigt-info">
            <div class="right-info">
                <a href="#" class="btn-signup">SIGN UP NOW</a>
                <h2>Pay Per Head Software</h2>
                <p>For a limited time, If you sign up now, special $5 Price Per Head will be kept forever!
                    payperhead.net
                    offers the most advanced “Pay Per Head” services with FREE POKER, LIVE CASINO, LOTTERY, PROPS,
                    FAST
                    LINES, SECURE CONNECTIONS and TOTAL PRIVACY. Now $5 per player!</p>
            </div>
            <div class="links-right-info">
                <div class="gradient-border">
                    <a href="#">SEE PRICE</a>
                </div>
                <div class="gradient-border">
                    <a href="#">SEE DEMOS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-services></app-services>
<app-features></app-features>
<app-cards></app-cards>

<div class="page-services">
    <div class="circle-gradient"></div>
    <div class="circle-gradient-2"></div>

    <div class="container-our-company">
        <h2 class="title-company">OUR COMPANY</h2>
        <div id="video-container">
            <iframe id="video"
                src="https://www.youtube.com/embed/36zqVSPuDNA?autoplay=1&loop=1&playlist=36zqVSPuDNA&mute=1"
                frameborder="0" allowfullscreen allow="autoplay"></iframe>
        </div>
    </div>
</div>

<app-payment-methods></app-payment-methods>