<div class="home-desktop container-home page-home page">
    <!-- <div class="video-container" *ngIf="video != ''">
        <video loop muted autoplay playsinline>
            <source [src]="video" type="video/mp4">
        </video>
    </div> -->

    <!-- <video loop muted autoplay playsinline width="100px" height="100px">
        <source [src]="sanitizer.bypassSecurityTrustResourceUrl(video)" type="video/mp4">
    </video> -->

    <video *ngIf="video" class="video-container"  loop muted autoplay playsinline>
        <source [src]="sanitizer.bypassSecurityTrustResourceUrl(video)" type="video/mp4">
    </video>

    <div class="blur-container left-blur">
        <div class="container-title">
            <h1>BECOME A SUCCESSFUL</h1>
            <span>BOOKIE</span>
        </div>
    </div>

    <div class="container-center">
        <img src="../../assets/img/img-home.png" alt="home image">
    </div>
    <div class="blur-container right-blur">
        <div class="container-rigt-info">
            <div class="right-info">
                <a href="#" class="btn-signup">SIGN UP NOW</a>
                <h2>{{InformationResp[0].Title}}</h2>
                <p>{{InformationResp[0].Value}}</p>
            </div>
            <div class="links-right-info">
                <div class="gradient-border">
                    <a href="#">SEE PRICE</a>
                </div>
                <div class="gradient-border">
                    <a href="#">SEE DEMOS</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="home-mobile">
    <div class="video-container">
        <video loop muted autoplay playsinline>
            <source src="https://uwtelecom.net/pphs/home-video-pph/bg-video-by-mobile.mp4" type="video/mp4">
        </video>
    </div>

    <div class="container-home-mobile">
        <div class="blur-container container-top">
            <div class="container-title">
                <h1>BECOME A SUCCESSFUL</h1>
                <span>BOOKIE</span>
            </div>
            <a href="#" class="btn-signup-mobile">SIGN UP NOW</a>
        </div>
        <div class="blur-container container-buttom">
            <div class="container-buttom-info">
                <h2>{{InformationResp[0].Title}}</h2>
                <p>{{InformationResp[0].Value}}</p>
            </div>

            <div class="links-right-info">
                <div class="gradient-border">
                    <a href="#">SEE PRICE</a>
                </div>
                <div class="gradient-border">
                    <a href="#">SEE DEMOS</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-services></app-services>
<app-features></app-features>
<app-cards></app-cards>

<div class="page-services">
    <!-- <div class="circle-gradient"></div> -->
    <div class="circle-gradient-2"></div>

    <div class="container-our-company">
        <h2 class="title-company">OUR COMPANY</h2>
        <div id="video-container">
            <iframe id="video"
                src="https://www.youtube.com/embed/36zqVSPuDNA?autoplay=1&loop=1&playlist=36zqVSPuDNA&mute=1"
                frameborder="0" allowfullscreen allow="autoplay"></iframe>
        </div>
    </div>
</div>

<app-payment-methods></app-payment-methods>