.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

}

.card {
  border-radius: 20px;
  background: rgba(68, 68, 68, 0.20);
  backdrop-filter: blur(75px);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 400px;
  margin: 2rem;
}

.card i {
  border-radius: 50px;
  background: rgba(68, 68, 68, 0.20);
  backdrop-filter: blur(10px);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card h3 {
  color: var(--dark-text-color);
  font-size: 18px;
  flex-wrap: 1;
}

.card p {
  color: #ABABAB;
  font-size: 14px;
  flex: 5;
}

.container-nav-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.circular-btn {
  display: inline-block;
  border-radius: 50%; /* Hace que el botón sea circular */
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background: rgba(68, 68, 68, 0.20);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(75px);
  color: white;
}

.page-cards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 5rem 0;
}

.page-title {
  color: var(--dark-text-color);
  font-family: Bebas Neue;
  font-size: 30px;
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .page-title {
    color: var(--dark-text-color);
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}