<section class="page-services">
    <div class="circle-gradient"></div>
    <div class="circle-gradient-2"></div>

    <div class="container-payment-methods">
        <h2 class="title-company">PAYMENT METHODS</h2>

        <div class="container-payment">
            <div class="container-top-payments">
                <div class="item-payments">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm1.png" alt="">
                </div>
                <div class="item-payments">
                    <span></span>
                </div>
                <div class="item-payments">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm2.png" alt="">

                </div>
                <div class="item-payments">
                    <span></span>
                </div>
                <div class="item-payments">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm3.png" alt="">

                </div>
                <div class="item-payments">
                    <span></span>
                </div>
                <div class="item-payments">
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm4.png" alt="">
                </div>
            </div>

            <div class="container-top-payments">
                <div class="item-payments">
                    <span></span>
                </div>
                <div class="item-payments">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm5.png" alt="">
                </div>
                <div class="item-payments">
                    <span></span>
                </div>
                <div class="item-payments">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm6.png" alt="">
                </div>
                <div class="item-payments">
                    <span></span>
                </div>
                <div class="item-payments">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm7.png" alt="">
                </div>
                <div class="item-payments">
                </div>
            </div>

            <div class="container-top-payments">
                <div class="item-payments-buttom">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm8.png" alt="">
                </div>
                <div class="item-payments-buttom">
                    <span></span>
                </div>
                <div class="item-payments-buttom">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm9.png" alt="">
                </div>
                <div class="item-payments-buttom">
                    <span></span>
                </div>
                <div class="item-payments-buttom">
                    <span></span>
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm10.png" alt="">
                </div>
                <div class="item-payments-buttom">
                    <span></span>
                </div>
                <div class="item-payments-buttom">
                    <img src="https://uwtelecom.net/pphs/payment-methods/pm11.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>