<h2 class="banner-title">THE BIGGEST LIST OF PAYMENTS METHODS IS HERE!!!</h2>

<div class="container__paymentsMethods">
    <div class="circle-gradient"></div>
    <div class="circle-gradient-2"></div>
    <div class="card__methods">
        <h4>Crypto Payments <span>(Preferred Method)</span></h4>
        <p class="methods__description"> Bitcoin & Etherium</p>
        <div class="methods__img">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm1.png" alt="Logo Bitcoin">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm2.png" alt="Logo Etherium">

        </div>
    </div>

    <div class="card__methods">
        <h4>Debit/Credit card</h4>
        <p class="methods__description"> Visa, Mastercard & AMEX</p>
        <div class="methods__img">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm3.png" alt="Logo Visa">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm4.png" alt="Logo Mastercard">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm5.png" alt="Logo AMEX">
        </div>
    </div>

    <div class="card__methods">
        <h4>Wallets</h4>
        <p class="methods__description">PayPal</p>
        <div class="methods__img">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm6.png" alt="Logo Paypal">
        </div>
    </div>

    <div class="card__methods">
        <h4>Online & Physical Locations </h4>
        <p class="methods__description">Moneygram & RIA</p>
        <div class="methods__img">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm7.png" alt="Logo MoneyGram">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm8.png" alt="Logo Ria">
        </div>
    </div>

    <div class="card__methods">
        <h4>Physical Locations Only</h4>
        <p class="methods__description">Vigo, Sigue, XOOM, Worldremitm Intermex & Transfast</p>
        <div class="methods__img">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm9.png" alt="Logo Vigo">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm10.png" alt="Logo Sigue">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm11.png" alt="Logo Intermex">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm12.png" alt="Logo Transfast">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm13.png" alt="Logo Xoom">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm14.png" alt="Logo Worldremit">


        </div>
    </div>

    <div class="card__methods">
        <h4>Other Methods</h4>
        <p class="methods__description">* DolEx, * Girosol, * Intercambio Express & Money Orders * These are options that can be offered to client from specific states</p>
        <div class="methods__img">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm15.png" alt="Logo Girosol">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm16.png" alt="Logo DolEx">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm17.png" alt="Logo Intercambio">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm18.png" alt="Logo Money Orders">
            <img src="https://uwtelecom.net/pphs/payment-methods/pm19.png" alt="Logo Gift Card">

        </div>
    </div>
</div>

<!-- <app-payment-methods></app-payment-methods> -->
<!-- <app-footer></app-footer> -->