.banner-title{
    color: var(--dark-text-color);
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 80px;
}