<div class="container__feature">


  <h2 class="title-feature">PAY PER HEAD SOFTWARE</h2>

  <p>Published <strong>February 24, 2017</strong></p>

  <div class="container-details-feature text-left-feature">
    <p>Our team of experts have developed software that is extremely flexible and offers seamless integration. Our
      pricing is unmatched at a $5 Pay Per Head. No hidden costs, no surprises, and we don’t take a percentage of your
      profits.
    </p>
  </div>

  <div class="container-details-feature text-left-feature">
    <p>
      7PPH betting services provide everything you need in order to operate your own book. Our team is dedicated to
      fully
      developed web, graphics, and programming in making and maintaining your website 24/7 to make sure you are up to
      date
      with the latest technology.
    </p>
  </div>

  <div class="container-details-feature text-left-feature">
    <p>
      Our technical support teams are available to assist you and your players 24 hours a day, 365 days a year. Our
      fully
      redundant hosting facility is maintained around the clock to fulfill all of your web needs.
    </p>
  </div>

</div>
