<div class="container__feature">

  <div class="container-details-feature">
    <h2 class="title-feature">Best PPH Sportsbook & Bookie Software Premiere Pay Per Head</h2>

    <h2 class="title-feature">Best PPH Sportsbook & Bookie Software Premiere Pay Per Head Solution</h2>
  </div>

  <br>

  <div class="container-details-feature">Best PPH Sportsbook & Bookie Software Premier Pay Per Head</div>

  <div class="container-details-feature text-left-feature">
    <p>PPH Software for Sportbooks. 1-week free trial top sportsbook solution. 7PPH.com Software gives you reliable,
      quality PPH service like no other Pay Per Head.</p>
  </div>

  <div class="container-details-feature text-left-feature" style="margin-top: 10px;">
    <ul class="list-feature">
      <li>Horsebook for Bookies</li>
      <li>Live betting</li>
      <li>Bet alerts</li>
      <li>Line setting</li>
      <li>Player activity tracking</li>
      <li>Real-time reporting</li>
      <li>Player account management</li>
    </ul>
  </div>

  <div class="container-details-feature text-left-feature">
    <p>And much more!</p>
  </div>

</div>
