<div class="container__features">

  <div class="margin-details-feature">
    <h2 class="page-title features-title">Best PPH Sportsbook & Bookie Software Premiere Pay Per Head</h2>

    <h2 class="page-title features-title">Best PPH Sportsbook & Bookie Software Premiere Pay Per Head Solution</h2>
  </div>

  <br>

  <div class="margin-details-feature">Best PPH Sportsbook & Bookie Software Premier Pay Per Head</div>

  <br>

  <div class="margin-details-feature">
    <p class="text-left-features">PPH Software for Sportbooks. 1-week free trial top sportsbook solution. 7PPH.com
      Software gives you reliable,
      quality PPH service like no other Pay Per Head.</p>
  </div>

  <div class="margin-details-feature">
    <ul class="list-features text-left-features">
      <li>Horsebook for Bookies</li>
      <li>Live betting</li>
      <li>Bet alerts</li>
      <li>Line setting</li>
      <li>Player activity tracking</li>
      <li>Real-time reporting</li>
      <li>Player account management</li>
    </ul>
  </div>

  <div class="margin-details-feature text-left-features">
    <p>And much more!</p>
  </div>

</div>
