<div class="container__global">

  <h2 class="page-title text-center">{{pageData.title_1}}</h2>

  <h2 class="page-title text-center">{{pageData.title_2}}</h2>

  <div class="margin-top-1">{{pageData.description_0}}</div>

  <div class="margin-top-2">
    <p class="text-left-justify">{{pageData.description_1}}</p>
  </div>

  <div class="margin-top-1">
    <ul class="list-features text-left-justify">
      <li *ngFor="let item of pageData.list"> {{item}} </li>
    </ul>
  </div>

  <div class="margin-top-1 text-left-justify">
    <p>{{pageData.description_2}}</p>
  </div>

</div>
