.container-blogs {
  width: 100%;
  padding: 10rem 9rem 5rem 9rem;
  color: var(--dark-text-color);
  text-align: center;
  justify-content: space-between;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .container-blogs {
    padding: 5rem 2rem;
  }
}

.blogs-title{
  color: white;
  margin-left: 0px !important;
}

.margin-details-blogs {
  margin-top: 1.5rem;
}

.text-left-blogs {
  text-align: left !important;
  margin-left: 0px !important;
}

.dark-text-description {
  color: rgba(255, 255, 255, 0.8);
}

.light-text-description {
  color: white;
}
