<div class="container__global">

  <h2 class="page-title text-center">{{InformationResp[0]?.Value}}</h2>

  <img src="assets/img/choose-pph-service-1.png" alt="choose-pph-service-1 blogs">

  <div class="margin-top-2">
    <p class="text-left">{{InformationResp[1]?.Value}}</p>
  </div>

  <div class="margin-top-2">
    <p class="text-left">{{InformationResp[2]?.Value}}</p>
  </div>

  <ul class="margin-top-1">
    <li *ngFor="let item of listPage" class="text-left">- {{item}}</li>
  </ul>

  <div class="margin-top-1">
    <p class="dark-text-description text-left">{{InformationResp[4]?.Value}} </p>
  </div>

  <div class="margin-top-1">
    <p class="dark-text-description text-left">{{InformationResp[5]?.Value}}</p>
  </div>

  <img src="assets/img/choose-pph-service-2.png" alt="choose-pph-service-2 blogs">

  <div class="margin-top-1">
    <p class="dark-text-description text-left">{{InformationResp[6]?.Value}}</p>
  </div>


</div>
